* {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
}

html {
    background-color: rgba(74, 108, 111, 0.301);
    padding-top: 5vh;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture_container {
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    background-image: url("picture.jpg");
    background-position: center center;
    border: 4px solid #4A6C6F;
    background-size: cover;
}

.name_container {
    width: 100vw;
    transform: translateY(-12vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    background-color: #4A6C6F;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    color: whitesmoke;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
    margin-bottom: 0;
    width: 100vw;
}

.texte_cv_dl {
    color: rgb(74, 108, 111);
    margin-bottom: 50px;
}

.titre {
    text-align: center;
    height: 7vh;
    background-color: rgba(74, 108, 111,0.3);
    color: rgb(74, 108, 111);
    padding: 10px;
    margin-bottom: 30px;
}

.soft_skills {
    margin-bottom: 30px;
}

.soft_skill {
    background-color: rgb(74, 108, 111);
    color: whitesmoke;
    height: 40px;
    font-family: 'Poiret One', cursive;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 7px;
    transform: translateX(-100vw);
}

.soft_skill1 {
    animation: slideInRight 500ms ease-in-out forwards;
}

.soft_skill2 {
    animation: slideInRight 500ms 500ms ease-in-out forwards;
}

.soft_skill3 {
    animation: slideInRight 500ms 1s ease-in-out forwards;
}

@keyframes slideInRight {
    100% {
        transform: translateX(0);
    }
}

.contact_container {
    background-color: rgba(74, 108, 111, 0.301);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    max-width: 100vw;
}

.contact_container>div {
    height: 15vh;
    display: flex;
    width: 100vw;
}

.container_title {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    width: 80vw;
    margin-left: 10vw;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(74, 108, 111);
}

.contact_container>div>i {
    width: 10vw;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    margin-left: 10vw;
    color: rgb(74, 108, 111);
    text-align: center;
}

.contact_container>div>a {
    width: 70vw;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    text-decoration: none;
    color: rgb(74, 108, 111);
}

.phone,
.mail {
    text-decoration: underline!important;
}

.exp_container {
    display: flex;
    margin-bottom: 30px;
}

.fa-graduation-cap {
    font-size: 1.5rem;    
    color: rgb(74, 108, 111);
}

.job_header {
    margin-left: 4vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dates {
    margin-top: 5px;
    color: rgb(74, 108, 111);
    font-family: 'Open Sans', sans-serif;
}

.job {
    width: 60vw;
    margin-left: 5vw;
    margin-top: 0;
}

.job_title {
    margin-bottom: 10px;
    color: rgb(74, 108, 111);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.job_description {
    display: block;
    margin-bottom: 5px;
    color: rgb(74, 108, 111);
    font-family: 'Open Sans', sans-serif;
}

.reals {
    background-color: rgba(74, 108, 111, 0.301);
}

.reals,
.education {
    color: rgb(74, 108, 111);
    padding-top: 20px;
    padding-bottom: 20px;
}

.real_container {
    width: 80vw;
    min-height: 25vh;
    margin-bottom: 30px;
    margin-left: 5vw;
    border-radius: 5px;
    background-color: rgba(74, 108, 111, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    padding: 5vw;
}

.real_title {
    font-size: 2rem;
}

.real_content {
    text-align: center;
}

.real_title,
.real_content {
    width: 100%;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif!important;
}

.skill_container {
    display: flex;
    margin-bottom: 30px;
}

.skill_container>i {
    font-size: 2rem;
    margin-left: 10vw;
    width: 10vw;
    color: rgb(74, 108, 111);
}

.skill_container>div {
    width: 60vw;
    margin-left: 10vw;
    font-family: 'Open Sans', sans-serif;
    color: rgb(74, 108, 111);
}

.education {
    background-color: rgba(74, 108, 111, 0.281);
}

.education_container {
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    padding-bottom: 5vh;
}

.education_date,
.education_dot,
.education_content {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.education_date {
    width: 17vw;
}

.education_dot {
    font-size: 3rem;
    width: 5vw;
}

.education_content {
    width: 60vw;
    margin-left: 5vw;
}

.activities_container {
    margin: 5vw;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity_header {
    background-color: rgba(74, 108, 111, 0.76);
    margin: 5vw;
    width: 90vw;
    padding: 5vw 0;
}

.activity_header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-theater-masks,
.fa-chalkboard-teacher {
    font-size: 3rem;
    margin-bottom: 5vw;
    color: whitesmoke;
}

.fa-angle-double-down,
.fa-angle-double-up {
    font-size: 2rem;
    color: whitesmoke;
}
.fa-angle-double-up {
    color: rgb(179,127,179);
}

.activity_content {
    background-color: transparent;
    color: rgba(109, 50, 109, 0.7);
}

.activity_content_teaching,
.activity_content_theater {
    display: none;
}

.activity_p {
    margin-bottom: 5vh;
}

.up_container {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
}

.up_teaching {
    z-index: 10;
    font-size: 1.2rem;
}

.contact_footer {
    background-color: rgba(74, 108, 111, 0.76);
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link_footer {
    text-decoration: none!important;
}

.icon_footer {
    font-size: 2rem;
    color: whitesmoke;
    background-color: rgb(17, 61, 65);
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_footer:hover {
    color: rgb(17, 61, 65);
    background-color: whitesmoke;
    transition: all 300ms ease-in-out;
}

@media only screen and (min-width: 900px) {
    .name {
        width: 70vw;
    }

    .titre {
        width: 50vw;
        margin-left: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;    
    }

   
    .real_container,
    .education_container,
    .activity_header,
    .activity_content,
    .up_container {
        width: 50vw;
    }

    .contact_container>div {
        height: 40px;
    }

    .real_container,
    .skill_container {
        margin-left: 20vw;
    }

    .skill_container {
        width: 60vw;
    }

    .education_container {
        margin-left: 25vw;
    }

    .activity_header {
        margin: 2vw;
        padding: 2vw;
    }

    .up_container {
        margin-left: 0;
    }
}

/*
font-family: 'Poiret One', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif;
*/
